In [19]:
import pandas as pd

code_df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0] 

# 종목코드가 6자리 -> 6자리를 맞춰주기 위해 설정하기
code_df.종목코드 = code_df.종목코드.map('{:06d}'.format)

# 회사명과 종목코드만 가져오고 싶어서 나머지 열(column)들은 없애주기
code_df = code_df[['회사명','종목코드']]

# 한글로 된 컬럼 명을 영어로 바꾸기
code_df = code_df.rename(columns={'회사명':'name', '종목코드':'code'})
code_df.head()

          name    code
0         JS전선  005560
1        거북선2호  101380
2        거북선6호  114140
3        교보메리츠  064900
4       국제관광공사  028780
...        ...     ...
3915        툴젠  199800
3916  플럼라인생명과학  222670
3917   피엔에이치테크  239890
3918  한국미라클피플사  331660
3919       휴벡셀  212310

[3920 rows x 2 columns]

In [23]:
# 종목 이름을 입력하면 종목에 해당하는 코드를 불러와
# 네이버 금융(http://finance.naver.com)에 넣어줌 
def get_url(item_name, code_df):
    code = code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False)
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code)
    url = url.replace(" ","") # 위 코드대로하면 공백이 생겨서 제거해줌
    print("요청 URL = {}".format(url))
    return url 

# 신라젠의 일자데이터 url 가져오기
item_name='씨에스윈드'
url = get_url(item_name, code_df) 

# 일자 데이터를 담을 df라는 DataFrame 정의
df = pd.DataFrame()

# 1페이지에서 20페이지의 데이터만 가져오기
for page in range(1, 21):
    pg_url = '{url}&page={page}'.format(url=url, page=page)
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True) 
    
# df.dropna()를 이용해 결측값 있는 행 제거
df = df.dropna() 

# 상위 5개 데이터 확인하기 
df.head()

요청 URL = http://finance.naver.com/item/sise_day.nhn?code=112610

ValueError: No tables found

ModuleNotFoundError: No module named 'pandas_datareader'